* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imageUploadArea {
    height: 250px;
    width: 100%;
    border: 2px dashed #ccc;
    text-align: center;
    color: #ccc;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.fill {
    background: transparent;
    height: 200px;
    width: 50%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}

.dragImage {
    height: 190px;
    width: 96%;
    position: absolute;
    display: none;
}

.hovered {
    border-color: #222;
    color: #222;
}

.imgTitle {
    white-space: nowrap;
}

.form-control:focus, .btn:focus {
    box-shadow: none !important;
}

.image {
    height: 150px;
    width: 150px;
}

.progressBar {
    width: 100%;
    background: #eee;
    padding: 3px;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.bar-fill {
    height: 20px;
    display: block;
    background-color: royalblue;
    width: 0;
    border-radius: 5px;
    transition: width 0.8px ease;
    -webkit-transition: width 0.8px ease;
}

.bar-fill-text {
    color: #eee;
    line-height: 20px;
    margin-left: 5px;
    font-size: 12px;
}

.uploadedFiles {
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.uploadedFiles span{
    float: right;
}

.removeImg:hover {
    text-decoration: none;
}

.dropZoneFileSelect {
    opacity: 0.0;
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    cursor: pointer;
}

#validationMsg {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: red;
}

#titleHelp {
    font-size: 14px;
    color: red;
    margin-left: 5.7rem;
    margin-top: -10px
}

.errorBorder {
    border: 1px solid red;
}